<div class="col-sm-12 ">
    <h4>Текущие объявления</h4>
    <small class="grey">Здесь вы найдёте ваши активные и архивные объявления</small>
</div>
<div class="col-sm-12  margin-top15 ">

    <ul class="nav nav-tabs">
        <li class="active"><a>Объявления</a></li>
        <li><a href="<?=PRELINK ?>users/messages">Сообщения</a></li>
        <li><a href="<?=PRELINK ?>users/options" >Настройки профиля</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="ad">
            <div class="col-xs-12 well">
                <div class="col-xs-12">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#tab-in-1" data-toggle="tab">Активные</a></li>
                        <li><a href="#tab-in-2" data-toggle="tab">Архивные</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-in-1">
                            <div class="col-xs-12 ">
                                <h4 class="grey">Активные объявления</h4>
                                <table width="100%">

                                    <?php foreach ($data['ads'] as $ad) {
                                        if ($ad['is_active']==1){?>

                                            <tr class="underline height100">

                                                <td class="col-xs-2"><?= date("d-m-Y",strtotime($ad['date']))  ?></td>
                                                <td class="col-xs-1"><img src="<?= PRELINK ?><?= (!empty($ad['img']) )?$ad['img']:'uploads/no_photo.jpeg'?>" class="img-profile-list">
                                                </td>

                                                <td class="col-xs-5 ">
                                                    <h4><?= $ad['title'] ?></h4>
                                                    <a href="<?=PRELINK ?>categories/show/<?=self::NormalizeStringToLatin($ad['title']).'-'.$ad['id']?>" target="_blank">
                                                        <small><i class="fa fa-location-arrow" aria-hidden="true"></i><span
                                                                class="no-link-effect">&nbsp;Посмотреть</span>
                                                        </small>
                                                    </a>&nbsp;
                                                    <a href="<?=PRELINK ?>categories/edit/<?=self::NormalizeStringToLatin($ad['title']).'-'.$ad['id']?>" target="_blank">
                                                        <small><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span
                                                                class="no-link-effect">&nbsp;Редактировать</span>
                                                        </small>
                                                    </a>&nbsp;
                                                    <a href="<?=PRELINK ?>categories/archive/<?= $ad['id'] ?>" onclick="return confirmArchive();">
                                                        <small class="orange"><i class="fa fa-close" aria-hidden="true"></i><span
                                                                class="no-link-effect">&nbsp;В архив</span></small>
                                                    </a>
                                                </td>
                                                <td class="col-xs-3"><?= $ad['price'] ?> грн</td>
                                            </tr>

                                    <?php } } ?>

                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-in-2">
                            <div class="col-xs-12 ">
                                <h4 class="grey">Архивные объявления</h4>
                                <table width="100%">
                                    <?php foreach ($data['ads'] as $ad) {
                                        if ($ad['is_active']==0){?>

                                            <tr class="underline height100">

                                                <td class="col-xs-2"><?= date("d-m-Y",strtotime($ad['date']))  ?></td>
                                                <td class="col-xs-1"><img src="<?= PRELINK ?><?= (!empty($ad['img']) )?$ad['img']:'uploads/no_photo.jpeg'?>" class="img-profile-list">
                                                </td>

                                                <td class="col-xs-5 ">
                                                    <h4><?= $ad['title'] ?></h4>
                                                    <a href="<?=PRELINK ?>categories/show/<?=self::NormalizeStringToLatin($ad['title']).'-'.$ad['id']?>" target="_blank">
                                                        <small><i class="fa fa-location-arrow" aria-hidden="true"></i><span
                                                                class="no-link-effect">&nbsp;Посмотреть</span>
                                                        </small>
                                                    </a>&nbsp;
                                                </td>
                                                <td class="col-xs-3"><?= $ad['price'] ?> грн</td>
                                            </tr>

                                        <?php } } ?>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>