hr {
  margin: 0.5rem;
  border: 0;
  border-top: 2px solid rgba(68, 68, 68, 0.2);
  color:white;
}
#app {
  background-image: url("/public/img/mountains.jpg");
}

.navbar-brand {
  width: 210px;
}

.search-form {
  display: flex;
  & &__input {
    width: 400px;
    color:white;

  }
  &__submit{
    padding: .2rem 1rem;
    cursor: pointer;
  }
}
.functional-line{
  height: 2.5rem;
  padding: 0.5rem 0.8rem;
}

.app-select{
  background-color: transparent;
  height: 40px;
  border:none;
  color: white;
  option{
    color:black;
  }
}